<a href="https://colab.research.google.com/github/pks98/Pracfiles/blob/main/Bagging_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd 
import numpy as np
from sklearn.metrics import r2_score

In [8]:
df=pd.read_csv('BostonHousing.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
x=df.drop('medv',axis=1)
y=df['medv']

In [10]:
x.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [11]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: medv, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)

In [13]:
x_train.shape,x_test.shape

((404, 13), (102, 13))

In [15]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()
lr.fit(x_train,y_train)
lr_pred=lr.predict(x_test)
print('Linear Regression accuracy: ',r2_score(y_test,lr_pred))

Linear Regression accuracy:  0.7334492147453086

In [16]:
from sklearn.neighbors import KNeighborsRegressor

knn=KNeighborsRegressor()
knn.fit(x_train,y_train)
knn_pred=knn.predict(x_test)
print('KNN Regression accuracy: ',r2_score(y_test,knn_pred))

KNN Regression accuracy:  0.5515369161726807

In [17]:
from sklearn.svm import SVR

svr=SVR()
svr.fit(x_train,y_train)
svr_pred=svr.predict(x_test)
print('SVR Regression accuracy: ',r2_score(y_test,svr_pred))

SVR Regression accuracy:  0.2511219165026839

In [18]:
from sklearn.tree import DecisionTreeRegressor

dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
dt_pred=dt.predict(x_test)
print('DecisionTree Regression accuracy: ',r2_score(y_test,dt_pred))

DecisionTree Regression accuracy:  0.59964185249726

In [21]:
from sklearn.ensemble import BaggingRegressor

bg=BaggingRegressor(base_estimator=DecisionTreeRegressor(),n_estimators=50,max_samples=0.5,bootstrap=True)
bg.fit(x_train,y_train)
bg_pred=bg.predict(x_test)
print('Bagging Regression accuracy: ',r2_score(y_test,bg_pred))

Bagging Regression accuracy:  0.8733457746025597

The acuuracy of the bagging model is increased for the decission tree

# Hyperparameter tuning

In [22]:
from sklearn.model_selection import GridSearchCV

params = {'base_estimator': [None, LinearRegression(), KNeighborsRegressor()],
          'n_estimators': [10,20,30,40,50,100],
          'max_samples': [0.2,0.3,0.4,0.5,1.0],
          'max_features': [0.5,1.0],
          'bootstrap': [True, False],
          'bootstrap_features': [True, False]}


bagging_regressor = GridSearchCV(BaggingRegressor(random_state=1, n_jobs=-1), param_grid =params, cv=3, n_jobs=-1, verbose=1)
bagging_regressor.fit(x_train, y_train)
bagging_regressor_pred=bagging_regressor.predict(x_test)
print('Bagging Regression accuracy: ',r2_score(y_test,bagging_regressor_pred))

Fitting 3 folds for each of 720 candidates, totalling 2160 fits
Bagging Regression accuracy:  0.892602861001127

In [23]:
bagging_regressor.best_estimator_

BaggingRegressor(n_estimators=20, n_jobs=-1, random_state=1)

In [24]:
bagging_regressor.best_params_

{'base_estimator': None,
 'bootstrap': True,
 'bootstrap_features': False,
 'max_features': 1.0,
 'max_samples': 1.0,
 'n_estimators': 20}