<a href="https://colab.research.google.com/github/pks98/Pracfiles/blob/main/knn_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd 
import numpy as np
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
df=df[['Age','EstimatedSalary','Purchased']]
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [8]:
x=df.drop('Purchased',axis=1)
y=df['Purchased']

In [12]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=6)

In [14]:
x_train.shape,x_test.shape

((320, 2), (80, 2))

In [19]:
# optimum number of k value is the square root of number of data points i,e

x_train.shape

(320, 2)

In [17]:
np.sqrt(320)

17.88854381999832

In [21]:
from sklearn.neighbors import KNeighborsClassifier

knn=KNeighborsClassifier(n_neighbors=17)
knn.fit(x_train,y_train)
pred=knn.predict(x_test)
print('The accuracy of the model is : ',accuracy_score(y_test,pred))

The accuracy of the model is :  0.8625

In [22]:
from sklearn.preprocessing import StandardScaler

se=StandardScaler()

x_train_scaled=se.fit_transform(x_train)
x_test_scaled=se.transform(x_test)

In [33]:
x_train_scaled[0:6,]

array([[-0.25596993, -0.35191452],
       [ 2.0843266 , -0.81031064],
       [-0.25596993,  0.2592803 ],
       [-0.25596993,  0.87047513],
       [ 0.8673724 , -0.53527297],
       [ 1.24181985, -1.39094572]])

In [34]:
x_test_scaled[0:6,]

array([[-0.72402924,  1.17607254],
       [-0.91125296, -0.29079504],
       [-0.53680552, -1.54374442],
       [-0.25596993, -0.74919115],
       [-1.37931227, -1.23814701],
       [-0.06874621,  0.74823616]])

In [35]:
knn.fit(x_train_scaled,y_train)
pred=knn.predict(x_test_scaled)
print('Accuracy : ',accuracy_score(y_test,pred))

Accuracy :  0.9375

After scaling the data the accuracy has improved from **86%** to **93%**

In [59]:
acc_list=[]

for i in range(1,26):
  knn=KNeighborsClassifier(n_neighbors=i)
  knn.fit(x_train_scaled,y_train)
  pred=knn.predict(x_test_scaled)
  acc_list.append(accuracy_score(y_test,pred))

In [60]:
len(acc_list)

25

In [61]:
accuracies=acc_list

In [62]:
accuracies.sort(reverse=True)

In [63]:
print(accuracies)

[0.95, 0.95, 0.95, 0.95, 0.95, 0.9375, 0.9375, 0.9375, 0.9375, 0.9375, 0.9375, 0.9375, 0.925, 0.925, 0.925, 0.925, 0.925, 0.9125, 0.9125, 0.9125, 0.9125, 0.9125, 0.9125, 0.8625, 0.85]

In [65]:
accuracies[0]    #the highest accuracy

0.95

In [66]:
from sklearn.model_selection import GridSearchCV

params={
    "n_neighbors":range(1,26)
}

knn_grid=GridSearchCV(estimator=KNeighborsClassifier(),param_grid=params,scoring='accuracy',cv=10)

In [69]:
x_scaled=se.fit_transform(x)

In [70]:
knn=knn_grid.fit(x_scaled,y)

In [71]:
knn.best_estimator_

KNeighborsClassifier(n_neighbors=11)

In [72]:
knn.best_params_

{'n_neighbors': 11}

In [73]:
knn.best_score_

0.9099999999999999