<a href="https://colab.research.google.com/github/pks98/Pracfiles/blob/main/KNNImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv('train.csv',usecols=['Survived','Pclass','Age','Fare'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [7]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

Almost 20% of the data is missing in the age column

In [8]:
x=df.drop('Survived',axis=1)
y=df['Survived']

In [29]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [11]:
x_train.shape,x_test.shape

((712, 3), (179, 3))

In [30]:
from sklearn.impute import KNNImputer

knn=KNNImputer()

x_train_transformed=knn.fit_transform(x_train)
x_test_transformed=knn.transform(x_test)

In [31]:
x_train_transformed_df=pd.DataFrame(data=x_train_transformed,columns=x_train.columns)

In [32]:
x_train_transformed_df

     Pclass   Age      Fare
0       1.0  40.0   27.7208
1       3.0   4.0   16.7000
2       3.0  47.0    9.0000
3       3.0   9.0   31.3875
4       3.0  20.0    9.8458
..      ...   ...       ...
707     3.0  30.0    8.6625
708     3.0  24.4    8.7125
709     1.0  71.0   49.5042
710     1.0  33.6  221.7792
711     1.0  42.8   25.9250

[712 rows x 3 columns]

In [33]:
x_train.isnull().sum()

Pclass      0
Age       148
Fare        0
dtype: int64

In [34]:
x_train_transformed_df.isna().sum()

Pclass    0
Age       0
Fare      0
dtype: int64

There are no null values after the transformation

In [35]:
x_test_transformed_df=pd.DataFrame(x_test_transformed,columns=x_test.columns)

In [36]:
x_test_transformed_df

     Pclass   Age     Fare
0       1.0  42.0  26.2875
1       3.0  21.0   8.0500
2       2.0  24.0  65.0000
3       3.0  28.0  56.4958
4       3.0  17.0   7.9250
..      ...   ...      ...
174     3.0  24.0   8.0500
175     3.0  22.0   9.0000
176     3.0  38.4  69.5500
177     3.0  26.0   7.8958
178     3.0  29.0  10.4625

[179 rows x 3 columns]

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr=LogisticRegression()
lr.fit(x_train_transformed_df,y_train)
pred=lr.predict(x_test_transformed_df)
print('Accuracy for knn imputed data: ',accuracy_score(y_test,pred))

Accuracy for knn imputed data:  0.7039106145251397

In [40]:
from sklearn.impute import SimpleImputer

sm=SimpleImputer()

x_train_transformed_sm=sm.fit_transform(x_train)
x_test_transformed_sm=sm.transform(x_test)

lr=LogisticRegression()
lr.fit(x_train_transformed_sm,y_train)
pred=lr.predict(x_test_transformed_sm)
print('Accuracy for knn imputed data: ',accuracy_score(y_test,pred))

Accuracy for knn imputed data:  0.6927374301675978

The accuracy of the model with knn imputed data is more when comapred to the simpleImputed data