<a href="https://colab.research.google.com/github/pks98/Pracfiles/blob/main/Ordinal_Lablel_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('customer.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
df.shape

(50, 5)

In [4]:
df['purchased'].value_counts()

No     26
Yes    24
Name: purchased, dtype: int64

**Ordinal encoding** should be used for **review** and **education** column because they can be sorted based on a perticular order i,e review can be sorted as **poor,Average,Good**,Similarly in case of education i,e they can be ordered as ***school,UG,PG***

**One-hot-encoding** should be used for the column **Gender**

**LabelEncoder** should be used only on **dependent variable**, in this case it shoud be used on the column **purchased**

Considering the columns **review,education,purchased**

In [14]:
df.drop(['age','gender'],axis=1,inplace=True)

In [15]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [16]:
x=df.drop('purchased',axis=1)
y=df['purchased']

In [17]:
x.head()

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG
4  Average        UG

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2,stratify=y)

In [20]:
x_train.shape,x_test.shape

((40, 2), (10, 2))

In [21]:
from sklearn.preprocessing import OrdinalEncoder

In [24]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [25]:
#fit shoud be applied only on the train data
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [29]:
x_test

     review education
13  Average    School
25     Good    School
14     Poor        PG
49     Good        UG
11     Good        UG
7      Poor    School
32  Average        UG
10     Good        UG
21  Average        PG
27     Poor        PG

In [27]:
#transform should be applied on both tarin and test data
oe.transform(x_train)
oe.transform(x_test)

array([[1., 0.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [2., 1.],
       [1., 2.],
       [0., 2.]])

In [30]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

LabelEncoder on dependent variable

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le=LabelEncoder()

In [33]:
le.fit(y_train)

LabelEncoder()

In [36]:
y_test

13     No
25     No
14    Yes
49     No
11    Yes
7     Yes
32    Yes
10    Yes
21     No
27     No
Name: purchased, dtype: object

In [35]:
le.transform(y_train)
le.transform(y_test)

array([0, 0, 1, 0, 1, 1, 1, 1, 0, 0])