<a href="https://colab.research.google.com/github/pks98/Pracfiles/blob/main/WithoutPipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['PassengerId','Name','Ticket'],axis=1,inplace=True)

In [4]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [5]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [6]:
df.drop('Cabin',axis=1,inplace=True)

In [7]:
df.sample(5)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
64          0       1    male   NaN      0      0  27.7208        C
862         1       1  female  48.0      0      0  25.9292        S
376         1       3  female  22.0      0      0   7.2500        S
795         0       2    male  39.0      0      0  13.0000        S
213         0       2    male  30.0      0      0  13.0000        S

In [8]:
df.shape

(891, 8)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [10]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [11]:
x=df.drop('Survived',axis=1)
y=df['Survived']

In [12]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [13]:
from sklearn.impute import SimpleImputer

se_age=SimpleImputer()
se_embarked=SimpleImputer(strategy='most_frequent')

x_train_tranformed_age=se_age.fit_transform(x_train[['Age']])
x_test_tranformed_age=se_age.transform(x_test[['Age']])

x_train_tranformed_embargked=se_embarked.fit_transform(x_train[['Embarked']])
x_test_tranformed_embarked=se_embarked.transform(x_test[['Embarked']])

In [14]:
x_train_tranformed_age.shape,x_test_tranformed_age.shape

((712, 1), (179, 1))

In [15]:
x_train_tranformed_embargked.shape,x_test_tranformed_embarked.shape

((712, 1), (179, 1))

In [16]:
from sklearn.preprocessing import OneHotEncoder

oe=OneHotEncoder(sparse=False,handle_unknown='ignore')

x_train_tranformed_sex=oe.fit_transform(x_train[['Sex']])
x_test_tranformed_sex=oe.transform(x_test[['Sex']])

x_train_tranformed_embargked=oe.fit_transform(x_train_tranformed_embargked)
x_test_tranformed_embarked=oe.transform(x_test_tranformed_embarked)

In [23]:
x_train_tranformed_sex.shape,x_test_tranformed_sex.shape

((712, 2), (179, 2))

In [24]:
x_train_tranformed_embargked.shape,x_test_tranformed_embarked.shape

((712, 3), (179, 3))

In [28]:
x_train_remaining=x_train.drop(['Sex','Age','Embarked'],axis=1)
x_test_remaining=x_train.drop(['Sex','Age','Embarked'],axis=1)

In [31]:
x_train=np.concatenate((x_train_tranformed_age,x_train_tranformed_sex,x_train_tranformed_embargked),axis=1)

In [34]:
x_test=np.concatenate((x_test_tranformed_age,x_test_tranformed_sex,x_test_tranformed_embarked),axis=1)

In [36]:
from sklearn.linear_model import LogisticRegression

le=LogisticRegression()

le.fit(x_train,y_train)
pred=le.predict(x_test)

In [37]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pred)

0.7653631284916201

In [42]:
from sklearn.tree import DecisionTreeClassifier

dt=DecisionTreeClassifier()

dt.fit(x_train,y_train)
pred=dt.predict(x_test)

accuracy_score(y_test,pred)

0.7541899441340782