<a href="https://colab.research.google.com/github/pks98/Pracfiles/blob/main/With_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [4]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [5]:
df.shape

(891, 8)

In [7]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [10]:
x=df.drop('Survived',axis=1)
y=df['Survived']

In [11]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [12]:
x_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
30        1    male  40.0      0      0  27.7208        C
10        3  female   4.0      1      1  16.7000        S
873       3    male  47.0      0      0   9.0000        S
182       3    male   9.0      4      2  31.3875        S
876       3    male  20.0      0      0   9.8458        S

In [13]:
x_train.shape,x_test.shape

((712, 7), (179, 7))

In [21]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression

In [14]:
p1=ColumnTransformer(transformers=[
                                   ('t1',SimpleImputer(),[2]),
                                   ('t2',SimpleImputer(strategy='most_frequent'),[6])
                                   
],remainder='passthrough')

In [26]:
p2=ColumnTransformer(transformers=[
                                   ('t3',OneHotEncoder(drop='first',sparse=False,handle_unknown='ignore'),[1,6])
],remainder='passthrough')

In [18]:
p3=ColumnTransformer(transformers=[
                                  ('t4',MinMaxScaler(),slice(0,10))
],remainder='passthrough')

In [22]:
p4=LogisticRegression()

In [27]:
from sklearn.pipeline import Pipeline,make_pipeline

pipe=Pipeline([
               ('p1',p1),
               ('p2',p2),
               ('p3',p3),
               ('p4',p4)
])

In [28]:
pipe.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

Pipeline(steps=[('p1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('t1', SimpleImputer(), [2]),
                                                 ('t2',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6]),
                                                 ('t3',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('p2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('t3',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('p3',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('t4', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('p4', LogisticRegression())])

In [30]:
pred=pipe.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pred)

0.7821229050279329

In [32]:
#using make_pipeline

pipe=make_pipeline(p1,p2,p3,p4)

pipe.fit(x_train,y_train)
pred=pipe.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [34]:
accuracy_score(y_test,pred)  #gives the same result as Pipeline

0.7821229050279329